@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600&display=swap');

.app {
  width: 100%;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  background-color: #fff;
}

a {
  color: #9883e5;
}

.artist-card {
  flex: 1;
  margin: 1em;
  overflow: hide;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
}

.artist-card.selected {
  border-color: #000;
  cursor: initial;
}

.artist-thumb {
  height: 200px;
  padding: 0 0.35em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 0.9em;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.artist-thumb::-webkit-scrollbar {
  display: none;
}

.artist-info {
  padding: 1em 1em 3em 1em;
  line-height: 1.35em;
  word-break: break-word;
}

.artist-return-btn {
  position: absolute;
  bottom: 0;
  padding: 0.25em 0.5em 0 0.75em;
  background-color: #fff;
  font-size: 1.25em;
  cursor: pointer;
}

.artist-heading {
  padding: 0.6em 0.9em 0 0.9em;
  border-top: 1px solid #bbb;
}

.artist-name {
  font-size: 1.2em;
  font-weight: 600;
}


.artist-tags {
  height: 101px;
  font-size: 0.75em;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.artist-tags::-webkit-scrollbar {
  display: none;
}

.artist-tag {
  display: inline-block;
  margin: 0 8px 6px 0;
  padding: 2.75px 8px 1px 8px;
  background-color: #fff0e2;
}

.filters-scrollview {
  width: 200px;
  padding-top: 1em;
  background-color: #fff;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.filters-scrollview::-webkit-scrollbar {
  display: none;
}

.filters-container {
  margin-bottom: 10em;
}

.filters-header {
  display: flex;
  margin-top: 4.5em;
  padding: 0 0 0.4em 1em;
  font-weight: 600;
  border-bottom: 1px solid #bbb;
}

.grid-scrollview {
  flex: 1;
  padding-top: 0.75em;
  background-color: #fff;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.grid-scrollview::-webkit-scrollbar {
  display: none;
}

.grid {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1em 1em 1em;
  margin-bottom: 10em;
}

.grid-item {
  display: flex;
  flex-basis: 25%;
}

.loading {
  padding: 8em 2em;
  display: flex;
  justify-content: center;
}

.main {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
}

.no-results {
  margin-top: 3em;
  margin-left: 2em;
  font-size: 1.5em;
}

.selection-container {
  border-bottom: 1px solid #bbb;
}

.search-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-width: 0 0 1px 0;
  border-color: #bbb;
  border-style: solid;
  z-index: 1;
}

.search-input {
  flex: 1;
  padding: 0.8em 1em 0.5em 1em;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.2em;
  border: 0;
  background-color: #fff;
}

.search-clear-icon {
  display: flex;
  padding: 1em;
  cursor: pointer;
}

.tag {
  display: block;
  padding: 0.55em 1em 0.25em 2em;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
}

.tag.selected {
  background-color: #fff0e2;
  border: 1px solid #fff0e2;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
  .grid-item {
    flex-basis: 33.333333%;
  }
}

@media screen and (max-width: 1100px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 800px) {
  .artist-card {
    height: 119px;
    display: flex;
    margin-bottom: 0;
    border-color: #000;
    border-radius: 0;
  }
  .artist-thumb {
    width: 70px;
    height: 119px;
    margin-right: 5px;
    padding: 0;
    border-radius: 0;
  }
  .artist-heading {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0 0.5em;
    border: 0;
  }
  .artist-name {
    font-size: 1em;
    font-weight: 600;
  }
  .artist-tags {
    flex: 1;
    font-size: 0.7em;
  }
  .artist-tag {
    padding: 2px 6px 0 6px;
  }
  .artist-mobile-view {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  .artist-mobile-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em 1em;
    border: 1px solid #000;
    overflow-y: scroll;
  }
  .artist-mobile-thumb {
    width: 100%;
  }
  .artist-mobile-info {
    flex: 1;
    padding: 1em;
    line-height: 1.35em;
    word-break: break-word;
    overflow-y: scroll;
  }
  .artist-mobile-name {
    margin-top: 0.5em;
    font-size: 1.25em;
    font-weight: 600;
  }
  .artist-mobile-return {
    padding: 0.75em 1em 0.5em 1em;
  }
  .filters-scrollview {
    width: 100%;
    padding: 0;
  }
  .filters-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .filters-header {
    width: 100%;
    justify-content: center;
    padding: 13px 0 7px 0;
    margin-top: 51px;
    border-color: #000;
  }
  .grid-scrollview {
    padding-top: 0;
  }
  .grid {
    padding: 0;
  }
  .grid-item {
    flex-basis: 100%;
  }
  .mobile-filter-toggle {
    position: fixed;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
    border-bottom: 1px solid #000;
  }
  .no-results {
    flex: 1;
    margin-left: 0;
    font-size: 1em;
    text-align: center;
  }
  .selection-container {
    border-color: #000;
  }
  .search-container {
    width: 100%;
    margin-top: 51px;
    background-color: #fff;
    border-color: #000;
  }
  .search-input {
    padding: 12px 0 8px 16px;
    font-size: 16px;
  }
  .tag-wrapper {
    flex-basis: 33.333333%;
  }
  .tag {
    height: 4.65em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.4em 0 0.4em;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.5em;
  }
}