.main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.grid {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid .grid-item {
  flex-basis: 25%;
}

.artist-card {
  margin: 1em;
  padding: 1em;
  border: 1px solid #000;
}

.tag-list {
  width: 200px;
  overflow-y: scroll;
  padding: 1em;
}

.tag {
  display: block;
  padding: 1em;
  background-color: #fff;
  cursor: pointer;
}

.tag-selected {
  background-color: #fff0e2;
}

@media screen and (max-width: 1500px) {
  .grid .grid-item {
    flex-basis: 33.333333%;
  }
}

@media screen and (max-width: 1100px) {
  .grid .grid-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 800px) {
  .grid .grid-item {
    flex-basis: 100%;
  }
  .tag-list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    flex: 1;
  }
}